.table {
    background-color: whitesmoke;
    width: 90%; 
    margin-left:5%; 
    margin-right:5%;
    margin-top: 2%;
}

.CriptoName {
    color: blue;
}

.active{
    color: green;
}

.normal{
    color: red;
}