.table {
    background-color: whitesmoke;
    width: 90%; 
    margin-left:5%; 
    margin-right:5%;
    margin-top: 2%;
}

.CriptoName {
    color: blue;
}

.green{
    color: green;
}

.red{
    color: red;
}

.header3 {
    margin-top: 5%;
    margin-bottom: 2%;
}